---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Stone Sha - Full Stack Developer">
  <div class="flex flex-row justify-between w-full">
    <div class="flex flex-col justify-center">
      <h1
        class="text-2xl sm:text-4xl md:text-5xl font-medium text-center text-shadow-md dark:text-gray-200"
      >
        Stone Sha
      </h1>
      <p
        class="text-base md:text-lg font-light text-center mb-4 text-shadow-md dark:text-gray-200"
      >
        Full Stack Developer
      </p>
    </div>
    <img
      alt="profile"
      src="/profile.png"
      class="rounded-full w-32 h-32 md:w-64 md:h-64 object-cover border-2 border-gray-200 shadow-lg"
    />
  </div>
</Layout>
