---
import Layout from "@/layouts/Layout.astro";
import ProjectCard from "@/components/ProjectCard.astro";
---

<Layout title="Stone Sha - Projects">
  <div class="flex flex-col space-y-5 w-full my-4">
    <h2
      class="text-xl md:text-3xl font-medium text-shadow-sm dark:text-gray-200"
    >
      Projects
    </h2>

    <ProjectCard
      title="cat-scroller"
      description="Web application for viewing cat pictures from reddit. Fully virtualized so you can scroll as far as possible without lagging it. Written with Next.js."
      repo_url="https://github.com/stonesha/cat-scroller"
    />

    <ProjectCard
      title="cat-chat"
      description="Web app to chat with others in a lobby. Written with an Elixir backend to support (theoretically) millions of clients performatively. Uses a Vite React frontend with websockets connecting the two."
      repo_url="https://github.com/stonesha/cat-chat"
    />

    <ProjectCard
      title="cat-todo"
      description="Over-engineered todo list web app. Written with Next.js. Uses tRPC for typesafe APIs, zod for schema validation, prisma for database operations among many more."
      repo_url="https://github.com/stonesha/cat-todo"
    />

    <ProjectCard
      title="utils"
      description="General utilities for personal and dev purposes. Nothing too special. Written with SvelteKit."
      repo_url="https://github.com/stonesha/utils"
    />
  </div>
</Layout>
