---
const { repo_url, title, description } = Astro.props;
---

<div
  class="p-4 rounded-lg w-full border-2 border-gray-100 shadow-md bg-white dark:bg-gray-600 dark:border-gray-700 dark:shadow-gray-700"
>
  <div class="flex flex-row justify-between">
    <div class="flex flex-row">
      <a
        href={repo_url}
        target="_blank"
        rel="noopener noreferrer"
        class="hover:bg-slate-100 dark:hover:bg-gray-700 rounded-md p-1"
      >
        <h3
          class="text-lg md:text-xl text-black font-medium dark:text-gray-200"
        >
          {title}
        </h3>
      </a>
      <a
        href={repo_url}
        target="_blank"
        rel="noopener noreferrer"
        class="flex flex-col align-middle justify-center cursor-pointer ml-2"
      >
        <svg
          class="w-4 h-4 md:w-5 md:h-5 dark:text-gray-200"
          fill="currentColor"
          role="img"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><title>GitHub Repo</title><path
            d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
          ></path>
        </svg>
      </a>
    </div>
  </div>
  <hr class="my-1" />
  <div class="font-light text-sm md:text-base dark:text-gray-200">
    {description}
  </div>
</div>
